/* body{
    background-color: aqua;
} */

/* p{
    color: violet;
    font-size: 80px;
} */

body {
    padding-bottom: 500px;
}

.paragrah{
    background-color: #000;
    color: aqua;
    padding: 5px;
}